[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pylightxl = "*"
jsonschema = "*"
click = "*"
requests = "*"
biolink-model = "*"

[dev-packages]

[requires]
python_version = "3.9"
