[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pylightxl = "*"
jsonschema = "*"
click = "*"
requests = "*"
kgx = "*"
biolink-model = "*"
chardet = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
